
<body>
<div class="wrapper">
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
        <img src="assets/img/pda2.png" width="75" height="60">

      </div>
      <div class="menu">
        <ul>
          <li> <a routerLink="/home">Home</a></li>
                    <li> <a routerLink="/portfolio">Portfolio</a></li>
                    <li><a routerLink="/contact">Contact</a></li>
                    <li><a routerLink="/service">Service</a></li>
                    <li><a routerLink="/shop">Shop</a></li>
                    <li><a routerLink="/blog">Blog</a></li>
                    <li> <a routerLink="/testimonial">Testimonial</a></li>
                    <li> <a routerLink="/about">About</a></li>
            <li><button>
              Sign up
              <div class="arrow-wrapper">
                <div class="arrow"></div>

              </div>
            </button></li>
        </ul>
      </div>
    </nav>
  </header>

  </div>

<script> $(document).ready(function() {
  $(".menu-icon").on("click", function() {
    $("nav ul").toggleClass("showing");
  });
});

// Scrolling Effect

$(window).on("scroll", function() {
  if($(window).scrollTop()) {
    $('nav').addClass('black');
  }

  else {
    $('nav').removeClass('black');
  }
})
</script>
