.top-left {
  position: absolute;
  top: 80px;
  left: 16px;

}
.top-left{
  font-family: "Fira Sans", sans-serif;
  font-size: 110px;
  color: rgba(24, 65, 203, 0.93);
}
.card {
  width: 250px;
  height: 340px;
  border-radius: 1em;
  padding: 1.9rem;
  background: #f5f5f5;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
}

.card:before {
  content: "";
  position: center;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(252, 252, 252, 0);
  z-index: 2;
  transition: 0.5s;
}

.card-info {
  position: center;
  z-index: 3;
  color: rgba(12, 60, 213, 0.82);
  opacity: 0;
  transform: translateY(20%);
  transition: 0.5s;
}

/*Text*/
.text-title {
  font-size: 1.5rem;
  font-weight: 500;
  position: center;
}

.text-body {
  letter-spacing: 1px;
  font-size: 0.9rem;
  margin: 15px 0 15px 0;
}

/*Button*/
.card-button {
  padding: 0.8rem;
  outline: none;
  border: none;
  border-radius: 4px;
  background: rgba(5, 5, 5, 0);
  color: rgba(0, 0, 0, 0.65);
  font-weight: bold;
  transition: 0.4s ease;
  position: center;


}

/*Image*/
.card-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(to bottom, rgba(12, 12, 12, 0.43), rgba(17, 17, 17, 0.3));
}

/*Hover*/
.card:hover {
  transform: translateY(5%);
}

.card:hover:before {
  opacity: 1;
}

.card:hover .card-info {
  opacity: 1;
  transform: translateY(0);
}

.card-button:hover {
  background: rgba(47, 87, 211, 0.57);
  color: #f5f5f5;
}
