
<!--<header id = "header" class = "vh-100 flex">-->
<!--  <div class = "container">-->
<!--    <div class = "header-content">-->
<!--      <h1>I'm a <br><span class = "typewrite" data-loop = "yes" data-speed = "100" data-delay = "2000" data-words = '["photographer", "videographer", "video editor"]'></span></h1>-->
<!--      <h3>Jason Miller</h3>-->

<!--      <ul class = "social-links">-->
<!--        <li>-->
<!--          <a href = "#" class = "flex">-->
<!--            <i class = "fab fa-facebook-f"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href = "#" class = "flex">-->
<!--            <i class = "fab fa-twitter"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href = "#" class = "flex">-->
<!--            <i class = "fab fa-instagram"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href = "#" class = "flex">-->
<!--            <i class = "fab fa-pinterest"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->
<!--</header>-->
<!--&lt;!&ndash; about section &ndash;&gt;-->
<!--<section id = "about" class = "about py-7">-->
<!--  <div class = "container">-->
<!--    <div class = "about-content grid">-->
<!--      <div class = "about-left">-->
<!--        <img src = "src/assets/img/2.12.jpg" alt = "">-->
<!--      </div>-->
<!--      <div class = "about-right">-->
<!--        <div class = "title">-->
<!--          <h2>About Me</h2>-->
<!--        </div>-->
<!--        <p class = "lead">Professional photographer Jason Smith combines his photography degree with his marketing degree to find the right balance between creativity and commercial sinse. Jason is an experienced all round photographer and moved to New York at the end of 2020.</p>-->
<!--        <p class = "lead">We can checkout his recent works and experiences below. He considers photography as his passion more than profession.</p>-->
<!--        <a href = "#work" class = "btn-down">-->
<!--          <i class = "fas fa-chevron-down"></i>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->

<header class="header">
  <app-navbar></app-navbar>
  <div class="overlay">
    <h6 class="subtitle">Today, everything exists to end in a photograph.</h6>
    <h1 class="title">Praveen D Adikari Studio</h1>
    <div class="buttons text-center">
      <a href="#service" class="btn btn-primary rounded w-lg btn-lg my-1">Our Service</a>
      <a href="#contact" class="btn btn-outline-light rounded w-lg btn-lg my-1">Contact Us</a>
    </div>
  </div>

</header>
<app-navbar></app-navbar>

